* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-image:url(./access/background.png);
    background-color:  #3B5CBD;
    max-width: 100%;
    font-family:'IBM Plex Sans', sans-serif;
}

.wallet {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 40px;
    color: #ffffff;
}

.token {
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
}

.header {
    border-radius: 12px;
    padding:5px;
    border:3px solid #FFFFFF;
    background-color: transparent;
    color:#ffffff;
}

.header:hover {
    background-color: #ffffff;
    color: #000000;
}

.company-logo {
    text-align: center;
}

section {
    text-align: center;
    width:100%;
}

.container {
    background-color: #f5f7ff;
    border-radius: 10px;
    width: 450px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.buy-token {
    padding: 50px;
}

.cnt {
    text-align:center;
}

.para {
    font-weight: normal;
    font-style: normal;
    opacity: 0.4;
}

.token-form {
    margin: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-style: normal;
    font-size: 15px;
    color: #3B5CBD;
}

input {
    border: 1px solid #3B5CBD;
    border-radius: 8px;
    width: auto;
    padding:12px;
}

.btn {
    background: #3B5CBD;
    border-radius: 16px;
    width: auto;
    margin-top: 35px;
    padding: 15px;
    color:#ffffff;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .join {
      margin: 0 auto;
      color:#ffffff;
      padding: 20px 40px;
  }

  p {
      text-align: center;
      font-size: 20px;
  }
